<div class="postBox">
  <form action="/post" method="post">
    <textarea name="postBox" id="postBox" cols="30" rows="10">What's on your mind, <%= user.firstName%>?</textarea>
    <button type="submit">Post</button>
  </form>
</div>
